@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    font-family: 'Arial';
}

body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 20px 0 20px;
}
h1 {
    text-align: center;
    background-image: linear-gradient(to left, rgba(0, 255, 221, 0.815),rgb(0, 82, 68));
    width: 100%;
    margin-top: 0px;
    height: 2em;
    color: #f3f3f3;
    padding: 20px 20px 0 20px;
    font-family: 'Roboto', 'sans-serif';
}
h2 {
    text-align: center;
    background-color: lightgrey;
}

.text {
    font-size: 18px;
    text-align: center;
}
.sub-title {
    padding-top: 20px;
    color: #f3f3f3;
    text-align: center;
}

.info-contact{
    margin: auto;
    background-color: rgb(119, 119, 119);
    width: 25%;
    height: auto;
    border-radius: 1.5em;
}

.info-contact .info-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: justify
}

.info-contact > .info-list > li {
    margin: 20px 0 20px 0px;
    list-style-type: none;
}

.info-email, .info-web, .info-phone {
    font-style: bold;
    color: rgb(219, 219, 219);
}

.info-contact .info-list  li a {
    text-decoration: none;;
    color: #0c0c0c;
}